.st0{opacity:0.5;}
.st1{display:none;}
.st2{fill:#4A4D56;}
.st3{fill:#FFFFFF;}
.st4{fill:#7C9CDD;}
.st5{fill:#1151EF;}
.st6{opacity:0.1}
.st7{opacity:0.1;fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}